.container {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 100vh;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button{
  background-color: red;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
a{
  text-decoration: none;
  color: white;
}